/* Show bootstrap columns */
[class*="col"] {
    padding: 1rem;
    background-color: #33b5e5;
    border: 2px solid white;
    color: white;
    text-align: center;
}

/* Show bootstrap containers */
[class*="con"] {
  padding: 1rem;
  background-color: #8633e5;
  border: 2px solid white;
  color: white;
  text-align: center; 
}

/** 
 * Sassy CSS... it's SASSY! 
 */

$primaryBtn : lightseagreen; /* sass variable */

button {
  background-color: $primaryBtn; /* ALL buttons will be assigned this color */
  &:hover {
    background-color: gray;
  }
}

.App {
  background-color: gray;
  color: white;
}

.my-content {
  background-color: red;

  .my-sub-content-1 {
    background-color: green;
  }

  .my-sub-content-2 {
    background-color: black;
    background-color: orange; /* Overrides the black color */
  }

  .my-sub-content-3 {
    background-color: blue;

    .my-sub-content-4 {
      background-color: black;
    }
  }

  .my-sub-content-5 {
    width: 300px;
    text-align: left;
    background-color: lightcoral;
  }
}
